.longread {
  justify-content: flex-start;
  background-color: #0f0f0f;
  color: white;
  font-family: var(--fontBodyLongread);
  overflow-x: hidden;
  width: 100vw;

  & p {
    line-height: 1.75;

    /* @media (--only-extrasmall-screen) {
      font-size: 1rem;
    } */
  }

}

.container--big {
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 14.25rem;
}

.container--small {
  /* container op die manier opbouwen, zo blijft container full width en kunnen img nog
  responsive gepositioneerd worden, maximum width is 60rem adhv padding */
  padding: 0 var(--container); /* 60 rem = container width + margin */
  margin: 0 3rem;

  @media (--only-extrasmall-screen) {
    padding: 0 calc(var(--container) - 2rem);
    margin: 0 1rem;
  }
}

.button--longread {
  display: inline-block;
  font-family: var(--fontSubtitleLongread);
  text-transform: uppercase;
  font-size: var(--fontRegularLongread);
  color: white;
  background-color: var(--colorLongread);
  padding: .3rem 1.5rem;
  letter-spacing: 2px;
}

.subtitle {
  color: var(--colorLongread);
  font-family: var(--fontSubtitleLongread);
  font-size: var(--fontRegularLongread);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.title {
  transform: translateY(-.8rem);
  font-family: var(--fontTitleLongread);
  font-size: 2.5rem;
  margin-bottom: .8rem;
  font-weight: normal;
}
