.end {
  margin-bottom: 8rem;
}

.end__image {
  margin-top: -8rem;
  height: 700px;
  position: relative;

  @media (--only-medium-screen) {
    margin-top: 7rem;
    height: 600px;
  }

  @media (--only-small-screen) {
    margin-top: 4rem;
    height: 350px;
  }

  @media (width < 450px) {
    margin: 3rem auto 0;
    height: 200px;
  }

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    background-image: url(../../assets/img/longread/end_1125x732.png);
    background-repeat: no-repeat;
    background-position: 47% 100%;
    background-size: auto 700px;
    width: 100vw;
    height: 700px;

    @media (--only-medium-screen) {
      height: 600px;
      background-size: contain;
    }

    @media (--only-small-screen) {
      height: 350px;
      background-size: contain;
    }

    @media (width < 450px) {
      height: 100%;
      width: 90vw;
      background-size: contain;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.end__books {
  margin-top: 10rem;
  text-align: center;

  @media (--only-medium-screen) {
    margin-top: 7rem;
  }

  @media (--only-small-screen) {
    margin-top: 4rem;
  }

  @media (width < 500px) {
    margin-top: 4rem;
  }

  & p {
    font-size: var(--fontRegularLongread);
  }

  & .info {
    max-width: 30rem;
    margin: 0 auto;
  }

  & .button--longread {
    margin-top: 4rem;
  }
}

.booklist {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem 2rem;
  position: relative;

  @media (--only-small-screen) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width < 500px) {
    margin-top: 10rem;
    grid-template-columns: repeat(1, 1fr);
  }

  & li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../../assets/img/longread/unlocked.svg);
      height: 1.7rem;
      width: 1.7rem;
      left: 50%;
      top: -.5rem;
      transform: translate(-50%, -100%);
    }
  }

  & .locked {
    opacity: .2;

    & .subtitle {
      color: #6a6a6a;
    }

    &::before {
      background-image: url(../../assets/img/longread/locked.svg);
    }
  }

  &::before {
    background-image: url(../../assets/img/longread/end_bg_1460x605.jpg);
    z-index: -1;
    content: '';
    position: absolute;

    background-size: 100%;
    width: calc(100vw - var(--container) + 3rem);
    top: -6.5rem;
    left: -6rem;
    height: calc(100% + 11.7rem);

    @media (--only-medium-screen) {
      background-size: cover;
      width: 100vw;
    }

    @media (--only-small-screen) {
      left: -6rem;
    }

    @media (--only-extrasmall-screen) {
      background-image: url(../../assets/img/longread/end_bg_375x1640.jpg);
      left: -1rem;
    }
  }
}
