.end {
  margin-bottom: 8rem;
}

.end__image {
  height: 770px;
  max-width: 1125px;
  margin: -10rem auto 0;
  position: relative;

  & div::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (--only-medium-screen) {
      content: none;
    }
  }

  @media (--only-medium-screen) {
    background-image: url(../../assets/img/longread/end_1120x750.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (--only-extrasmall-screen) {
    background-image: url(../../assets/img/longread/end_700x468.jpg);
  }

  & .image-cta::after {
    background-image: url(../../assets/img/longread/end_cta_497x328.png);
    background-position: 43% 18%;
    background-size: 13rem;
  }

  & .image-1::after {
    background-image: url(../../assets/img/longread/end1_1125x719.png);
    animation: MoveEnd-1 3s linear infinite;
    z-index: 7;
  }

  & .image-2::after {
    background-image: url(../../assets/img/longread/end2_1125x719.png);
    animation: MoveEnd-2 3s linear infinite;
    z-index: 6;
  }

  & .image-3::after {
    background-image: url(../../assets/img/longread/end3_1125x719.png);
    animation: MoveEnd-3 3s linear infinite;
    z-index: 5;
  }

  & .image-4::after {
    background-image: url(../../assets/img/longread/end4_1125x719.png);
    animation: MoveEnd-4-6 3s linear infinite;
    z-index: 4;
  }

  & .image-5::after {
    background-image: url(../../assets/img/longread/end5_1125x719.png);
    z-index: 3;
  }

  & .image-6::after {
    background-image: url(../../assets/img/longread/end6_1125x719.png);
    animation: MoveEnd-4-6 3s linear infinite;
    z-index: 2;
  }

  & .image-7::after {
    background-image: url(../../assets/img/longread/end7_1125x719.png);
    animation: MoveEnd-7 3s linear infinite;
    z-index: 1;
  }

  & .image-8::after {
    background-image: url(../../assets/img/longread/end8_1125x719.png);
    animation: MoveEnd-8 3s linear infinite;
    z-index: 0;
  }

  & .image-9::after {
    background-image: url(../../assets/img/longread/end9_1125x719.jpg);
    z-index: -1;
  }

  & .image-final {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: url(../../assets/img/longread/end_finalstate_1125x719.jpg);
    z-index: 8;
  }

  @media (--only-medium-screen) {
    margin-top: 7rem;
    height: 600px;
  }

  @media (--only-small-screen) {
    margin-top: 4rem;
    height: 350px;
  }

  @media (width < 450px) {
    margin: 3rem auto 0;
    height: 200px;
  }
}

.end__books {
  margin-top: 7.5rem;
  text-align: center;

  @media (--only-medium-screen) {
    margin-top: 7rem;
  }

  @media (--only-small-screen) {
    margin-top: 4rem;
  }

  @media (width < 500px) {
    margin-top: 4rem;
  }

  & p {
    font-size: var(--fontRegularLongread);
  }

  & .info {
    max-width: 30rem;
    margin: 0 auto;
  }

  & .button--longread {
    margin-top: 4rem;
  }
}

.booklist {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem 2rem;
  position: relative;

  @media (--only-small-screen) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width < 500px) {
    margin-top: 10rem;
    grid-template-columns: repeat(1, 1fr);
  }

  & li {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../../assets/img/longread/unlocked.svg);
      height: 1.7rem;
      width: 1.7rem;
      left: 50%;
      top: -.5rem;
      transform: translate(-50%, -100%);
    }
  }

  & .locked {
    opacity: .2;

    & .subtitle {
      color: #6a6a6a;
    }

    &::before {
      background-image: url(../../assets/img/longread/locked.svg);
    }
  }

  &::before {
    background-image: url(../../assets/img/longread/end_bg_1460x605.jpg);
    z-index: -1;
    content: '';
    position: absolute;

    background-size: 100%;
    width: calc(100vw - var(--container) + 3rem);
    top: -6.5rem;
    left: -6rem;
    height: calc(100% + 11.7rem);

    @media (--only-medium-screen) {
      background-size: cover;
      width: 100vw;
    }

    @media (--only-small-screen) {
      left: -6rem;
    }

    @media (--only-extrasmall-screen) {
      background-image: url(../../assets/img/longread/end_bg_375x1640.jpg);
      left: -1rem;
    }
  }
}

@keyframes MoveEnd-1 {

  0%, 100% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 50% 70%;
  }
}

@keyframes MoveEnd-2 {

  0%, 100% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 50% 20%;
  }
}

@keyframes MoveEnd-3 {

  0%, 100% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 50% 65%;
  }
}

@keyframes MoveEnd-4-6 {

  0%, 100% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 50% 30%;
  }
}

@keyframes MoveEnd-7 {

  0%, 100% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 50% 80%;
  }
}

@keyframes MoveEnd-8 {

  0%, 100% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 50% 42%;
  }
}
