.line__wrapper--history {
  position: relative;
  width: 100vw;
  height: 25rem;
  overflow: hidden;

  @media (--only-medium-screen) {
    display: none;
  }
}

.line--history {
  z-index: 2;
  width: 2100px;
  height: auto;
  left: 50%;
  transform: translate(-50%, 33%);
}

.timeline {
  position: relative;
  margin-top: -25rem;

  @media (--only-medium-screen) {
    display: none;
  }

  & .items__wrapper {
    max-width: 80rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 7rem auto;
  }
}

.timeline__item {
  max-width: 17rem;
  padding: 1rem;

  & p {
    font-size: .95rem;
  }

  & span {
    margin-top: 1rem;
    display: block;
    font-family: var(--fontSubtitleLongread);
  }

  &::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 1px;
    height: 3rem;
    transform: translateY(1rem);
  }

  &:nth-of-type(1) {
    transform: translateY(6.6rem);
  }

  &:nth-of-type(2) {
    transform: translateY(4rem);
  }

  &:nth-of-type(3) {
    transform: translateY(-.2rem);
  }

  &:nth-of-type(4) {
    transform: translateY(-1rem);
  }
}

.history {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 6rem;
  margin-top: 18rem;

  @media (--only-medium-screen) {
    grid-gap: 3rem;
    margin-top: 8rem;
    grid-template-columns: 1fr;
  }

  @media (--only-small-screen) {
    margin-top: 4rem;
  }
}

.history__text {
  font-size: var(--fontRegularLongread);

  & p:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.history__examples {
  display: grid;
  transform: translateX(2rem);
  grid-gap: 2rem;
  position: relative;

  & li {
    font-size: var(--fontRegularLongread);
  }

  @media (--only-medium-screen) {
    grid-template: 1fr / repeat(2, 1fr);
    transform: translateX(0);
  }

  @media (width < 400px) {
    grid-template: 1fr / 1fr;
  }

  &::before {
    background-image: url(../../assets/img/longread/history_bg_375x770.png);
    z-index: -1;
    content: '';
    position: absolute;
    background-size: contain;

    height: calc(100% + 6rem);
    width: calc(100% + 6rem);
    top: -3rem;
    left: -3rem;

    @media (--only-medium-screen) {
      content: none;
    }
  }
}

.bookburning {
  margin-top: 8rem;
  height: 650px;

  @media (width < 820px) {
    height: 570px;
  }

  @media (--only-extrasmall-screen) {
    height: 400px;
  }

  @media (width < 500px) {
    margin-top: 4rem;
    height: 444px;
  }

  &::before {
    z-index: 1;
    content: '';
    position: absolute;
    animation: MoveBooksBig 3s linear infinite;

    background-image:
      url(../../assets/img/longread/bookburning_800x650.png),
      url(../../assets/img/longread/bookburning_book1_455x353.png),
      url(../../assets/img/longread/bookburning_book2_351x292.png),
      url(../../assets/img/longread/bookburning_book3_160x234.png),
      url(../../assets/img/longread/bookburning_bg_1380x490.jpg);

    background-repeat: no-repeat;

    background-size:
      auto 650px,
      auto 290px,
      auto 230px,
      auto 200px,
      1380px 490px;

    width: 100vw;
    height: 650px;

    @media (width < 1600px) {
      animation: MoveBooksSmall 3s linear infinite;
      background-position:
        15% 80%,
        90% 15%,
        95% 53%,
        83% 80%,
        0% 100%;

      background-size:
        auto 650px,
        auto 230px,
        auto 180px,
        auto 150px,
        1380px 490px;
    }

    @media (--only-medium-screen) {
      background-image:
        url(../../assets/img/longread/bookburning_800x650.png),
        url(../../assets/img/longread/bookburning_bg_1380x490.jpg);

      background-position:
        0% 80%,
        100% 100%;

      background-size:
        auto 620px,
        1380px 490px;
    }

    @media (width < 820px) {
      background-image: url(../../assets/img/longread/bookburning_960x726.jpg);
      background-position: bottom left;
      height: 570px;
      background-size: cover;
    }

    @media (--only-extrasmall-screen) {
      height: 400px;
      width: 100%;
    }

    @media (width < 500px) {
      background-image: url(../../assets/img/longread/bookburning_500x444.jpg);
      height: 444px;
    }
  }
}

.line__wrapper--bookburning {
  position: relative;
}

.line--bookburning {
  position: absolute;
  width: 21vw;
  top: 10%;
  height: auto;

  @media (width < 1600px) {
    display: none;
  }
}

@keyframes MoveBooksBig {

  0%, 100% {
    background-position:
      30% 80%,
      85% 15%,
      95% 65%,
      75% 85%,
      0% 100%;
  }

  50% {
    background-position:
      30% 80%,
      85% 12%,
      95% 68%,
      75% 82%,
      0% 100%;
  }
}

@keyframes MoveBooksSmall {

  0%, 100% {
    background-position:
      15% 80%,
      90% 15%,
      95% 53%,
      83% 80%,
      0% 100%;
  }

  50% {
    background-position:
      15% 80%,
      90% 17%,
      95% 50%,
      83% 82%,
      0% 100%;
  }
}
