
.line--intro {
  width: 85%;
  right: 0;
  height: 900px;

  @media (width < 1270px) {
    width: 85%;
    height: 700px;
  }

  @media (--only-small-screen) {
    height: 600px;
  }

  @media (--only-extrasmall-screen) {
    height: 400px;
  }

  @media (--only-mobile-screen) {
    height: 320px;
  }
}

.intro {
  margin-top: 5rem;
  width: 100%;

  display: grid;
  grid-template-columns: auto 41rem;
  grid-gap: 2rem;
  justify-items: flex-end;
  align-items: center;

  @media (width < 1270px) {
    grid-template-columns: 1fr;
  }

  @media (--only-medium-screen) {
    margin-top: 0;
    text-align: center;
  }

  & .intro__text {
    margin-top: 3rem;
    margin-right: 12rem;
    display: flex;
    flex-direction: column;

    @media (width < 1380px) {
      margin-right: 8rem;
    }

    @media (width < 1270px) {
      margin: 3rem auto;
    }

    @media (--only-small-screen) {
      margin: 0 auto;
    }

    & .button--longread {
      margin-left: auto;

      @media (--only-extrasmall-screen) {
        margin: 0 auto;
      }
    }
  }
}

.intro__img {
  background-image:
    url(../../assets/img/longread/header_book_750x750.png),
    url(../../assets/img/longread/header_fireman_750x750.png),
    url(../../assets/img/longread/header_eyes_258x84.gif),
    url(../../assets/img/longread/header_bg_750x750.png);

  background-size:
    76%,
    contain,
    30%,
    contain;

  background-repeat: no-repeat;
  width: 80%;
  height: 0;
  padding-top: 65%;

  animation: MoveUpDown 3s linear infinite;

  @media (width < 1380px) {
    padding-top: 90%;
    width: 90%;
    padding-left: 3rem;

    background-size:
      90%,
      contain,
      30%,
      contain;
  }

  @media (width < 1270px) {
    width: 100%;
    padding-top: 50%;
    padding-left: 0;

    background-size:
      48%,
      contain,
      20%,
      contain;
  }

  @media (--only-small-screen) {
    margin-top: 1.5rem;
    padding-top: 70%;

    background-size:
      67%,
      contain,
      30%,
      contain;

    background-position:
      center,
      center,
      70% 12%,
      center;
  }

  @media (--only-extrasmall-screen) {
    padding-top: 90%;

    background-image:
      url(../../assets/img/longread/header_book_750x750.png),
      url(../../assets/img/longread/header_fireman_425x425.png),
      url(../../assets/img/longread/header_eyes_165x54.gif),
      url(../../assets/img/longread/header_bg_425x425.png);

    background-size:
      84%,
      contain,
      30%,
      contain;
  }
}

/* INTRO OPMAAK */

.intro__logo {
  margin-bottom: 1rem;
}

.intro__title {
  margin-bottom: 0;
  font-family: var(--fontTitleLongread);
  font-weight: normal;
  font-size: 4.4rem;

  @media (--only-medium-screen) {
    font-size: 3.5rem;
  }

  @media (--only-extrasmall-screen) {
    font-size: 2.5rem;
  }
}

.intro__author {
  text-align: right;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-family: var(--fontSubtitleLongread);

  &::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 3rem;
    height: 1px;
    transform: translate(-5rem, 1.5rem);
  }

  @media (--only-extrasmall-screen) {
    font-size: 1.5rem;
  }
}

.catchphrase {
  margin: 2rem auto 11rem;
  text-align: center;
  font-family: var(--fontTitleLongread);
  font-style: italic;
  max-width: 15.5rem;
  position: relative;

  & p {
    font-size: 1.4rem;
  }

  @media (--only-medium-screen) {
    margin-top: 5rem;
  }

  @media (--only-small-screen) {
    margin-bottom: 8rem;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: white;
    top: 7rem;
    width: 1px;
    height: 7rem;

    @media (--only-medium-screen) {
      top: 5.5rem;
    }

    @media (--only-small-screen) {
      top: 7rem;
      height: 4.5rem;
    }
  }
}

@keyframes MoveUpDown {

  0%, 100% {
    background-position:
      50% 50%,
      center,
      70% 11%,
      center;
  }

  50% {
    background-position:
      50% 70%,
      center,
      70% 11%,
      center;
  }
}
