.present {
  margin-top: 8rem;
  text-align: center;
  position: relative;

  @media (--only-small-screen) {
    margin-top: 6rem;
    text-align: left;
  }

  & p {
    font-size: var(--fontRegularLongread);
  }
}

.line__wrapper--present {
  position: relative;
}

.line--present {
  position: absolute;
  left: 17rem;
  top: -3rem;

  @media (width < 1530px) {
    left: 12rem;
  }

  @media (width < 1350px) {
    left: 5rem;
  }

  @media (--only-medium-screen) {
    display: none;
  }
}

.lucifer {
  position: relative;
  z-index: 10;
  margin-left: 16rem;
  margin-top: 7rem;

  @media (width < 1530px) {
    margin-left: 11rem;
    margin-top: 3rem;
  }

  @media (width < 1350px) {
    margin-top: 7rem;
    margin-left: 3rem;
  }

  @media (--only-medium-screen) {
    display: none;
  }

}
