.present {
  margin-top: 8rem;
  text-align: center;
  position: relative;

  @media (--only-small-screen) {
    margin-top: 6rem;
    text-align: left;
  }

  & p {
    font-size: var(--fontRegularLongread);
  }

  &::before {
    content: '';
    background-image:
      url(../../assets/img/longread/lucifer.png),
      url(../../assets/img/longread/line_hedendaags.svg);
    background-repeat: no-repeat;

    /* Lijn zelf */
    background-size:
      auto 200px,
      auto 568px;
    background-position:
      0% 100%,
      0% 0%;

    transform: translateX(-33%);

    /* Grote van canvas */
    width: 100vw;
    height: 780px;
    position: absolute;
    top: -10rem;

    @media (--only-medium-screen) {
      content: none;
    }
  }
}
