.summary {
  font-size: var(--fontRegularLongread);

  & p {
    margin-bottom: 2.5rem;
  }

  & .summary__opening {
    font-family: var(--fontTitleLongread);
    font-style: italic;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'text img';

  @media (--only-small-screen) {
    grid-template: repeat(2, auto) / 1fr;
    grid-template-areas:
      'img'
      'text';
  }
}

.summary__history {
  grid-area: text;
  display: flex;
  flex-direction: column;

  & .calltoaction {
    font-family: var(--fontTitleLongread);
    font-style: italic;
    margin-bottom: 1rem;

    @media (--only-small-screen) {
      text-align: center;
    }
  }

  & .button--longread {
    margin-right: auto;

    @media (--only-small-screen) {
      margin: 0 auto;
    }
  }
}

.summary__img {
  grid-area: img;
  height: 280px;
  margin-bottom: 2rem;
  position: relative;

  @media (--only-small-screen) {
    height: 408px;
  }

  @media (--only-extrasmall-screen) {
    height: 220px;
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    background-image:
      url(../../assets/img/longread/salamander_465x465.gif),
      url(../../assets/img/longread/intro_1000x388.jpg);
    background-repeat: no-repeat;
    right: 0;

    background-position:
      35rem 0%,
      bottom left;

    background-size:
      auto 450px,
      auto 388px;

    width: 50vw;
    height: 633px;
    top: -240px;
    left: 0;

    @media (--only-small-screen) {
      background-image: url(../../assets/img/longread/intro_960x408.jpg);
      background-position: bottom left;
      width: 100vw;
      background-size: cover;
      height: 100%;
      top: 0;
      left: -3rem;
    }

    @media (--only-extrasmall-screen) {
      height: 100%;
      left: -1rem;
    }
  }
}
