.banner__wrapper {
  background-color: var(--colorGrey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 21rem;
  padding: var(--spacerBig);
  background-image: url(../../assets/img/longread/banner_1024x350.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (width < 900px) {
    background-position: 0 0;
    background-image: url(../../assets/img/longread/banner_900x350.jpg);
  }

  @media (--only-extrasmall-screen) {
    height: 28rem;
    background-image: url(../../assets/img/longread/banner_700x450.jpg);
    background-position: 100% 100%;
    justify-content: flex-start;
    align-items: flex-end;
  }

  @media (width < 500px) {
    background-image: url(../../assets/img/longread/banner_500x450.jpg);
  }
}

.banner {
  width: 30%;
  color: white;

  @media (--only-extrasmall-screen) {
    width: 100%;
  }
}

.banner__info {
  margin-bottom: var(--spacerRegular);
}

.banner__label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  font-size: var(--fontLabel);
  font-family: 'Swiss Condensed', sans-serif;
  color: white;
  padding: .2rem .5rem .1rem;
  margin: 1rem;

  @media (--only-extrasmall-screen) {
    display: none;
  }
}
