.button {
  padding: .7rem 1.5rem .6rem;
  font-family: var(--fontTitle);
  text-transform: uppercase;
  font-size: var(--fontMedium);
  display: block;
  margin-top: calc (var(--spacerRegular)) / 2;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.button--inline {
  display: inline-block;
}

.button--primary {
  background-color: var(--colorYellow);
  color: black;
  padding-left: 3rem;

  & span::before {
    content: '';
    position: absolute;
    height: 1.25rem;
    width: 2rem;
    background-image: url(./../../assets/img/icons/arrow.svg);
    background-repeat: no-repeat;
    transform: translate(-2rem, .3rem);
  }
}

.button--secondary {
  background-color: var(--colorRed);
  color: white;
}

.button--filter {
  font-size: var(--fontExtraSmall);
  font-family: var(--fontBody);
  padding: .3rem .5rem .1rem;
  letter-spacing: .1rem;
  border: 1px solid var(--colorGreyDark);
  border-radius: .3rem;
}

.back {
  display: inline-block;
  transform: translateX(1.7rem);
  border-bottom: 1px dotted black;
  font-size: var(--fontSmall);

  &::before {
    position: absolute;
    content: '';
    width: .8rem;
    height: .8rem;
    background-image: url(../../assets/img/icons/back.svg);
    transform: translate(-1.7rem, .1rem);
  }

  &:hover {
    color: var(--colorRed);
  }
}
