.cart {
  margin-top: var(--spacerBig);

  &::before {
    content: '';
    display: block;
    width: 100%;
    position: relative;
    border: .05rem solid var(--colorGreyBorder);
    top: 1.5rem;
    z-index: -1;
  }
}

.cart__title {
  text-transform: uppercase;
  color: white;
  background-color: var(--colorRed);
  font-size: 1.25rem;
  padding: .4rem;
  width: 12rem;
  margin: 0 auto var(--spacerBig);
  text-align: center;
}

.cart__item {
  display: grid;
  grid-template-columns: 12rem 3fr 1fr 1fr 1fr 3rem;
  grid-auto-flow: row;
  overflow: visible;
  margin-bottom: var(--spacerBig);

  & p {
    margin-bottom: 0;
  }

  &:not(:last-of-type) {
    padding-bottom: var(--spacerBig);
    background-image: linear-gradient(to right, black 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
  }

  & .item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .item__info p:first-child {
    font-weight: bold;
    padding-bottom: 1rem;
  }

  & .item__info--img {
    padding-right: 2rem;
    grid-column: 1 / 2;
    height: 7.5rem;
    width: 100%;
    object-fit: cover;
  }

  & .item__info--item {
    grid-column: 2 / 3;
    align-items: flex-start;
  }

  & .item__info--price {
    grid-column: 3 / 4;
  }

  & .item__info--quantity {
    grid-column: 4 / 5;

    & p {
      transform: translateY(.75rem);
    }
  }

  & .item__info--subtotal {
    grid-column: 5 / 6;
  }

  & .item__info--remove {
    grid-column: 6 / 7;
    align-items: flex-end;

    &:focus {
      outline: none;
    }

    &::before {
      content: '';
      height: 1rem;
      width: 1rem;
      background-image: url(./../../assets/img/icons/remove.svg);
    }
  }

  & .info__title {
    font-family: var(--fontBody);
    font-size: var(--fontRegular);
    margin-bottom: calc(var(--spacerRegular) / 2);
  }
}

.cart__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: .05rem solid var(--colorGreyBorder);
  height: 9rem;

  & p {
    margin-bottom: 0;
  }

  & .label--text {
    width: 20rem;
  }

  & #promocode {
    margin-bottom: 0;
  }
}

.cart__navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacerRegular);
  border-top: .05rem solid var(--colorGreyBorder);

  & .navigate__checkout {
    text-transform: uppercase;
    display: flex;
    align-items: center;

    & .totalprice {
      font-weight: bold;
      font-family: var(--fontTitle);
      font-size: var(--fontBig);
    }
  }

  & p {
    margin-bottom: 0;
    margin-right: var(--spacerRegular);
  }
}

.update {
  margin: calc(var(--spacerBig) * 2) 0 var(--spacerRegular);
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &:hover {
    color: red;
  }

  &:focus {
    outline: none;
  }

  & .update__text {
    font-size: var(--fontRegular);
    font-weight: bold;

    &::before {
      position: absolute;
      content: '';
      height: .8rem;
      width: .8rem;
      background-image: url(../../assets/img/icons/refresh.svg);
      transform: translate(-1.5rem, .2rem);
    }
  }
}
