.cart {
  margin-top: var(--spacerBig);

  &::before {
    content: '';
    display: block;
    width: 100%;
    position: relative;
    border: .05rem solid var(--colorGreyBorder);
    top: 1.5rem;
    z-index: -1;
  }
}

.cart__empty {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--spacerBig) * 3);

  & .button {
    margin-top: var(--spacerBig);
  }
}

.cart__title {
  text-transform: uppercase;
  color: white;
  background-color: var(--colorRed);
  font-size: 1.25rem;
  padding: .4rem;
  width: 12rem;
  margin: 0 auto var(--spacerBig);
  text-align: center;
}

.cart__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: .05rem solid var(--colorGreyBorder);
  min-height: 9rem;
  padding: calc(var(--spacerRegular) * 2) 0;

  @media (--only-inbetween-screen) {
    flex-direction: column;
  }

  & p {
    margin-bottom: 0;
    padding-right: 1.5rem;

    @media (--only-inbetween-screen) {
      margin-bottom: 1.5rem;
    }
  }

  & .label--text {
    width: 20rem;
  }
}

.promocode__wrapper {
  display: flex;

  & input {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  & button {
    background-color: var(--colorGrey);
    margin-top: .5rem;
    display: flex;
    align-items: center;
    transform: translateX(-1rem);

    &::before {
      content: '';
      position: absolute;
      height: 1.25rem;
      width: 2rem;
      background-image: url(../../assets/img/icons/arrow.svg);
      background-repeat: no-repeat;
      transform: translate(-2.5rem, .1rem);
      opacity: .2;
    }

    &:hover::before {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}

.addedpromo {
  text-transform: uppercase;
  font-size: var(--fontExtraSmall);
  letter-spacing: .1rem;
}

.oldprice {
  color: black;
  font-size: var(--fontSmall);
  text-decoration: none;
  position: relative;
  margin-bottom: .2rem;

  &::before {
    content: '';
    display: block;
    width: 100%;
    border-top: .15rem solid rgba(0, 0, 0, .5);
    height: .8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-10deg);
  }

  & + p {
    font-size: 18px;
    font-family: var(--fontTitle);
    color: var(--colorRed);
  }
}

.cart__navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacerBig);
  border-top: .05rem solid var(--colorGreyBorder);

  @media (--only-inbetween-screen) {
    flex-direction: column-reverse;
  }

  & .navigate__checkout {
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media (--only-inbetween-screen) {
      margin-bottom: 3rem;
    }

    & .totalprice {
      font-weight: bold;
      font-family: var(--fontTitle);
      font-size: var(--fontBig);
    }
  }

  & p {
    margin-bottom: 0;
    margin-right: var(--spacerRegular);
  }
}

.cart__item {
  display: grid;
  grid-template-columns: 12rem 3fr 1fr 1fr 3rem;
  grid-template-areas: 'img name quantity price remove';
  grid-auto-flow: row;
  overflow: visible;
  margin-bottom: var(--spacerBig);

  @media (--only-inbetween-screen) {
    grid-template-columns: 25% auto 1fr 2rem;
    grid-template-areas:
      'img name name remove'
      'img quantity price remove';
  }

  @media (--only-small-screen) {
    grid-template-columns: auto 1fr 3rem;
    grid-template-areas:
      'name name remove'
      'quantity price remove';
  }

  & p {
    margin-bottom: 0;
  }

  &:not(:last-of-type) {
    padding-bottom: var(--spacerBig);
    background-image: linear-gradient(to right, black 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
  }

  & .item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: name;
  }

  & .item__info--img {
    padding-right: 2rem;
    height: 7.5rem;
    grid-area: img;
    width: 12rem;
    object-fit: cover;

    @media (--only-inbetween-screen) {
      padding-right: 1rem;
      width: 100%;
      height: 5rem;
    }

    @media (--only-small-screen) {
      display: none;
    }
  }

  & .item__info--item {
    align-items: flex-start;

    @media (--only-inbetween-screen) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: start;
    }
  }

  /* & .item__info--price {
    grid-column: 3 / 4;
  } */

  & .item__info--quantity {
    grid-area: quantity;

    & p {
      transform: translateY(.75rem);
    }
  }

  /* & .item__info p:first-child {
    font-weight: bold;
    padding-bottom: 1rem;
  } */

  & .item__info--subtotal {
    font-family: var(--fontTitle);
    font-size: 18px;
    grid-area: price;

    @media (--only-inbetween-screen) {
      margin-left: 1rem;
    }
  }

  & .item__info--remove {
    grid-column: 5 / 6;
    align-items: flex-end;
    grid-area: remove;

    &:focus {
      outline: none;
    }

    &::before {
      content: '';
      height: 1rem;
      width: 1rem;
      background-image: url(./../../assets/img/icons/remove.svg);
    }
  }

  & .info__title {
    font-size: var(--fontRegular);
    font-size: 1.2rem;
    margin-bottom: .2rem;
  }

  & .info__option {
    padding: .3rem .6rem 0;
    font-size: 14px;
    background-color: rgb(240, 240, 240);
    border-radius: .2rem;
    color: rgb(85, 85, 85);
    letter-spacing: .1rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;

    @media (--only-inbetween-screen) {
      margin-left: .5rem;
    }
  }
}

.update {
  margin: calc(var(--spacerBig) * 2) 0 var(--spacerRegular);
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &:hover {
    color: red;
  }

  &:focus {
    outline: none;
  }

  & .update__text {
    font-size: var(--fontRegular);
    font-weight: bold;

    &::before {
      position: absolute;
      content: '';
      height: .8rem;
      width: .8rem;
      background-image: url(../../assets/img/icons/refresh.svg);
      transform: translate(-1.5rem, .2rem);
    }
  }
}

.promo {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  &:hover {
    color: red;
  }

  &:focus {
    outline: none;
  }

  & .promo__text {
    font-size: var(--fontRegular);
    font-weight: bold;

    &::before {
      position: absolute;
      content: '';
      height: .8rem;
      width: .8rem;
      background-image: url(../../assets/img/icons/refresh.svg);
      transform: translate(-1.5rem, .2rem);
    }
  }
}
