
.order {
  display: grid;
  grid-template: 1fr / 26rem auto;
}

.order__overview {
  padding-right: 5rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1rem;
    transform: translateX(25rem);
    background-image: linear-gradient(to bottom, black 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 1px 3px;
    background-repeat: repeat-y;
  }
}

.overview__title {
  margin-bottom: var(--spacerBig);
}

.order__form .button {
  margin-left: auto;
}

.overview__item {
  display: grid;
  grid-template: 1fr / 1fr 3rem;
  margin-bottom: var(--spacerRegular);
  grid-gap: var(--spacerRegular);
  align-items: center;

  &:not(:last-of-type) {
    padding-bottom: var(--spacerRegular);
    border-bottom: 1px dotted rgb(180, 180, 180);
  }

  /* & .item__img {
    grid-column: 1 / 2;
    width: 5.4rem;
  } */

  & .item__title {
    grid-column: 1 / 2;

    & h3 {
      font-size: var(--fontRegular);
      font-family: var(--fontBody);
      margin-bottom: .2rem;
    }

    /* & div {
      display: inline-flex;
      flex-direction: column;
    } */

    & .item__option {
      /* display: inline-block;
      padding: .3rem .6rem 0; */
      font-size: 14px;
      font-weight: normal;
      /* background-color: rgb(240, 240, 240);
      border-radius: .2rem; */
      color: rgb(85, 85, 85);
      letter-spacing: .1rem;
      /* margin-bottom: 1.2rem; */
      text-transform: uppercase;
    }
  }

  & .item__quantity {
    grid-column: 2 / 3;
    justify-self: end;

    &::before {
      content: '\000D7';
      padding-right: var(--spacerRegular);
    }
  }
}

.overview__price {
  margin-top: 2rem;
  background-color: var(--colorGrey);
  padding: var(--spacerBig);

  & .price__title {
    margin-bottom: .5rem;
    font-family: var(--fontTitle);
    font-size: var(--fontBig);
  }
}

.order__wrapper {
  margin-left: calc(var(--spacerBig) * 2);

  & .button__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* .input__group {
  display: flex;
  align-items: baseline;
} */

.order__information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacerRegular);

  & .label {
    display: flex;
    flex-direction: column;
  }

  & .label--firstname {
    grid-column: 1 / span 2;
  }

  & .label--lastname {
    grid-column: 3 / span 2;
  }

  & .label--email {
    grid-column: 1 / span 4;
  }

  & .label--street {
    grid-column: 1 / span 3;
  }

  & .label--housenumber {
    grid-column: 4 / span 1;
  }

  & .label--postalcode {
    grid-column: 1 / span 1;
  }

  & .label--city {
    grid-column: 2 / span 3;
  }
}

.order__payment {
  margin-top: calc(var(--spacerBig) * 2);
}

.label--payment {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgb(226, 226, 226);
}

.label--paypal {
  background-image: url(../../assets/img/payment/paypal.png);
  background-size: 3rem;
}

.label--visa {
  background-image: url(../../assets/img/payment/visa.png);
  background-size: 3.2rem;
}

.label--maestro {
  background-image: url(../../assets/img/payment/maestro.png);
  background-size: 3.2rem;
}

.label--bancontact {
  background-image: url(../../assets/img/payment/bancontact.svg);
  background-size: 3.2rem;
}

.payment__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-bottom: calc(var(--spacerBig) * 2);
}

.input--payment:checked + label {
  border: 1px solid var(--colorGreyBorder);
  background-color: var(--colorGrey);
}

.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--spacerBig) * 3);

  & .button {
    margin-top: var(--spacerBig);
  }
}
