.footer {
  margin-top: var(--spacerBig);
  border-top: .2rem solid black;
  font-size: var(--fontSmall);
}

.footer::before {
  background-color: black;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: relative;
  bottom: .5rem;
  width: 100%;
}

.footer--desktop {
  @media (--only-medium-screen) {
    display: none;
  }
}

/* FOOTER NAVIGATION */

.footer__nav {
  margin-top: var(--spacerRegular);

  & .footer__columns {
    display: flex;
  }
}

.footer__column {
  width: 12.75rem;

  &::before {
    content: '';
    position: absolute;
    height: 28rem;
    width: 1rem;
    transform: translateX(-1.5rem);
    background-image: linear-gradient(to bottom, black 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-size: 1px 3px;
    background-repeat: repeat-y;
  }

  & .column__title {
    font-weight: bold;
    display: block;
    padding-bottom: var(--spacerRegular);
  }
}

.list__item {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: calc(var(--spacerRegular) / 2);

  &:last-of-type {
    margin-bottom: var(--spacerRegular);
  }
}

/* FOOTER INFO */

.footer__info {
  background-color: black;
  color: white;
  padding-bottom: var(--spacerRegular);

  & .info__items, & .info__copyright {
    display: flex;
    justify-content: center;
  }
}

.info__item {
  padding: 2rem 1rem 1rem;
}
