label:hover {
  cursor: pointer;
}

.input--number {
  background-color: var(--colorGrey);
  border: none;
  height: 3rem;
  width: 3rem;
  font-size: var(--fontRegular);
  text-align: center;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label--quantity {
  display: flex;
  margin-right: var(--spacerRegular);
}

.label--quantity button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.label--quantity button {
  background-color: var(--colorGrey);
  height: 3rem;
  width: 1.5rem
}

.label--quantity button:before,
.label--quantity button:after {
  display: inline-block;
  position: absolute;
  content: '';
  font-size: 1rem;
  width: .5rem;
  height: .08rem;
  background-color: black;
  transform: translate(-50%, -50%);
}
.label--quantity button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
