.label {
  display: block;
}

.label:not(:first-of-type) {
  margin-top: var(--spacerRegular);
}

.label:last-of-type .input--text{
  margin-bottom: var(--spacerBig);
}

.label:hover {
  cursor: pointer;
}

.input {
  background-color: var(--colorGrey);
  border: none;
  height: 3rem;
  width: 3rem;
  font-size: var(--fontRegular);
  text-align: center;
  font-weight: bold;
}

/* INPUT NUMBER */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label--quantity {
  display: flex;
}

.label--quantity button {
  outline: none;
  -webkit-appearance: none;
  border: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  background-color: var(--colorGrey);
  height: 3rem;
  width: 1.8rem;

  &:hover::before, &:hover::after {
    background-color: black;
  }
}

.label--quantity button::before,
.label--quantity button::after {
  display: inline-block;
  position: absolute;
  content: '';
  width: .6rem;
  height: .1rem;
  background-color: var(--colorGreyBorder);
  transform: translate(-50%, -50%);
}

.label--quantity .plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* INPUT TEXT */

.label--text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.label--text--secondary {
  font-size: var(--fontSmall);
  font-weight: regular;
  text-transform: uppercase;
  letter-spacing: .07rem;
}

.input--text {
  width: 100%;
  margin-top: .5rem;
  font-weight: normal;
  text-align: left;
  padding-left: 1rem;
  font-family: var(--fontBody);

  &:focus {
    outline: none;
    border: 1px solid var(--colorGreyBorder);
  }
}
