.shopitem__images {
  display: grid;
  grid-gap: var(--spacerRegular);
  grid-template-columns: 4.5rem auto;
  grid-template-areas: 'small big';

  @media (--only-medium-screen) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'big'
      'small';
  }

  @media (--only-inbetween-screen) {
    margin: 0 auto;
    max-width: 20rem;
  }

  & .images__wrapper img {
    width: 100%;
    margin-bottom: calc(var(--spacerRegular) - .5rem);
    padding-bottom: 0;
    grid-area: small;

    @media (--only-medium-screen) {
      height: 7rem;
      width: auto;
      margin-right: calc(var(--spacerRegular) - .5rem);
      margin-bottom: 0;
    }
  }

  & .image__big {
    grid-area: big;
    width: 100%;

  }
}

.image__small {
  opacity: .5;
}

.image__small--active {
  border: 1px solid black;
  opacity: 1;
}
