.shopitem {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  grid-gap: calc(var(--spacerRegular) * 3);
  margin-top: var(--spacerRegular);
}

/* Info */

.shopitem__info {

  & .info__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  & .info__title {
    color: var(--colorRed);
    margin-right: var(--spacerRegular);
  }

  & .info__price {
    margin-bottom: var(--spacerBig);
  }

  & .info__description {
    margin-bottom: var(--spacerRegular);
  }

  & .info__description span {
    margin-top: var(--spacerRegular);
    display: block;
  }

  & .info__description--book {
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: var(--fontExtraSmall);

  }
}

/* Form */

.form--shopitem {

  & p {
    font-weight: bold;
    margin-top: var(--spacerBig);
  }

  & .shopitem__options {
    display: flex;
    flex-direction: column;
  }

  & .shopitem__option {
    display: flex;
    margin-bottom: calc(var(--spacerRegular) / 2);
  }

  & .shopitem__cart {
    display: flex;
  }
}

.shopitem__option input {
  visibility: hidden;
}

.radio__mark {
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  display: block;
  position: relative;
  box-sizing: border-box;
  border: .01rem solid var(--colorGreyDark);
  transform: translate(-.6rem, .1rem);
}

.radio__mark::before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 50%;
  margin: auto;
  background-color: black;
  transform: scale(0);
}

input[type='radio']:checked + .radio__mark::before {
  transform: scale(.5);
}

.button--addtocart {
  margin-left: var(--spacerRegular);
}
