.account {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  grid-gap: calc(var(--spacerBig) * 2);

  @media (--only-inbetween-screen) {
    grid-gap: var(--spacerRegular);
    grid-template-columns: 1fr;
  }
}

.login {
  background-color: var(--colorGrey);
  padding: calc(var(--spacerRegular) * 2) 4rem;

  @media (--only-small-screen) {
    padding: var(--spacerBig);
  }

  & .button {
    margin-top: var(--spacerBig);
  }

  & .input--text {
    background-color: white;
  }

  & form label:last-of-type {
    margin-top: 1.5rem;
  }
}

.registreer {
  padding-top: calc(var(--spacerRegular) * 2);

  & .button {
    margin-top: var(--spacerBig);

    @media (--only-inbetween-screen) {
      margin: var(--spacerBig) auto 0;
    }
  }

  & .guest {
    display: inline-block;
    margin-top: var(--spacerRegular);
    border-bottom: 1px dotted black;

    &:hover {
      color: var(--colorRed);
    }
  }

  @media (--only-inbetween-screen) {
    text-align: center;
  }
}
