.menu__wrapper--desktop {
  display: flex;
  flex-direction: column-reverse;

  @media (--only-medium-screen) {
    display: none;
  }
}

.menu__wrapper--mobile {
  display: none;
  background-color: var(--colorGrey);

  & ul {
    width: 100%;
  }

  & nav {
    width: 100%;
  }

  @media (--only-medium-screen) {
    height: 3.5rem;
    display: flex;
    align-items: center;
  }
}

.menu {
  text-transform: uppercase;
}

.menu__items {
  display: flex;
}

.menu__item {
  transition: .2s ease-in-out color;

  padding: 0 1.25rem;
  display: flex;
  align-items: center;

  &:hover, & a:hover {
    color: var(--colorRed);
  }
}

.menu--secondary {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  font-size: .7rem;
  font-family: Arial, 'Helvetica Neue', sans-serif;

  & .menu__items .menu__item {
    padding: .7rem;
    display: flex;
    align-items: center;
  }

  & .menu__item--webshop {
    background-color: var(--colorRed);
    margin-left: .8rem;
  }

  & .menu__item--webshop a {
    color: white;
  }
}

.menu--primary {
  height: 4.37rem;
  font-size: 1.4rem;
  background-color: var(--colorGrey);
  font-family: 'Swiss Condensed', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  & .menu__items {
    justify-content: flex-end;
  }
}

/* ICONS */

.menu__icons {
  margin-left: 1rem;
  display: flex;
}

.menu__item--icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
  }
}

.menu__item--search {

  &::before {
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(./../../assets/img/icons/search.svg);
  }

  &:hover::before {
    background-image: url(./../../assets/img/icons/search-hover.svg);
  }

  @media (--only-medium-screen) {
    padding-left: .8rem;
  }

  @media (--only-mobile-screen) {
    display: none;
  }
}

.menu__item--cart {
  padding-left: .8rem;

  &::before {
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(./../../assets/img/icons/cart-empty.svg);
  }

  &:hover::before {
    background-image: url(./../../assets/img/icons/cart-empty-hover.svg);
  }

  @media (--only-medium-screen) {
    padding-left: 2rem;
  }

  @media (--only-mobile-screen) {
    padding-right: 1rem;
  }
}

.icon__wrapper .cart--filled {

  &::before {
    background-image: url(./../../assets/img/icons/cart-filled.svg);
  }

  &:hover::before {
    background-image: url(./../../assets/img/icons/cart-filled-hover.svg);
  }
}

.menu__item--user {
  padding: 0 1.5rem 0 1rem;

  &::before {
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(./../../assets/img/icons/user.svg);
  }

  @media (--only-small-screen) {
    display: none;
  }
}

.menu__item--hamburger {
  padding-left: 2rem;

  &::before {
    height: 1.6rem;
    width: 1.6rem;
    background-image: url(./../../assets/img/icons/menu.svg);
  }
}

.menu__items--mobile .menu__item--logo {
  margin: 0 auto;

  & a {
    transform: translate(-5.7rem, -1.75rem);
  }

  & a::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 10.5rem;
    background-image: url(./../../assets/img/logo.svg);
  }
}

.menu__items--right {
  display: flex;
}

/* LOGO */

.menu__items .menu__item--logo {
  padding: 0;
}

.identity__logo {
  width: 210px;
  height: 70px;
}
