.shopitem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: calc(var(--spacerRegular) * 3);
  margin-top: var(--spacerRegular);

  @media (--only-medium-screen) {
    grid-template-columns: 40% auto;
  }

  @media (--only-extrasmall-screen) {
    grid-template-columns: 1fr;
  }
}

.option__input:checked + div {
  background-color: var(--colorGrey);
  border: 1px solid rgb(117, 117, 117);
  font-weight: bold;
}

.button--addtocart {
  margin-left: var(--spacerRegular);

  @media (--only-extrasmall-screen) {
    margin: var(--spacerRegular) 0;
  }
}

.shopitem__info {

  & .info__title {
    color: var(--colorRed);
    margin-bottom: .5rem;
    font-family: var(--fontTitle);
    font-size: var(--fontBig);
  }

  & .info__price {
    margin-bottom: var(--spacerBig);
    text-transform: uppercase;
    letter-spacing: .1rem;
    opacity: .7;
    font-weight: bold;
  }

  & .info__description {
    margin-bottom: var(--spacerRegular);
  }

  & .info__description span {
    margin-top: var(--spacerRegular);
    display: block;
  }

  & .info__description--book {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: var(--fontExtraSmall);
    opacity: .5;
  }
}

/* Form */

.form--shopitem {

  & p {
    font-weight: bold;
    margin: var(--spacerBig) 0 var(--spacerRegular);
  }

  & .info__options {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-gap: var(--spacerRegular);
    text-align: center;
    margin-top: 0;

    & div {
      /* padding: .8rem 1.2rem .6rem; */
      border: 1px solid rgb(226, 226, 226);

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .info__cart {
    display: flex;

    @media (--only-extrasmall-screen) {
      flex-direction: column;
    }
  }
}

.option__label {
  /* padding: 3rem; */
  /* min-width: 5rem; */
  padding: .7rem 0;
  display: block;
  min-width: 6rem;

  &:hover {
    cursor: pointer;
  }

  & .price {
    font-size: var(--fontSmall);
    font-family: var(--fontTitle);
    /* margin-left: .3rem; */
  }
}

.shopitem__images {
  display: grid;
  grid-gap: var(--spacerRegular);
  grid-template-columns: 4.5rem auto;
  grid-template-areas: 'small big';

  @media (--only-medium-screen) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'big'
      'small';
  }

  @media (--only-extrasmall-screen) {
    margin: 0 auto;
    max-width: 20rem;
  }
}

.images__big {
  grid-area: big;
  width: 100%;
}

.image__small {
  margin-bottom: calc(var(--spacerRegular) - .5rem);
  padding-bottom: 0;
  grid-area: small;
  width: 100%;

  @media (--only-medium-screen) {
    height: 7rem;
    width: auto;
    margin-right: calc(var(--spacerRegular) - .5rem);
    margin-bottom: 0;
  }

  @media (--only-mobile-screen) {
    height: 5rem;
    width: auto;
  }
}

.image__small img, .image__small source {
  width: 100%;
  opacity: .5;

  @media (--only-medium-screen) {
    height: 7rem;
    width: auto;
  }

  @media (--only-mobile-screen) {
    height: 5rem;
    width: auto;
  }
}

.image__small--active img {
  border: 1px solid black;
  opacity: 1;
}
