/* stylelint-disable */
*, *::before, *::after{
  box-sizing: border-box;
}
/* stylelint-enable */

::selection {
  color: white;
  background: var(--colorRed);
}

html {
  box-sizing: inherit;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--spacerBig);

  @media (--only-medium-screen) {
    margin-bottom: 0;
  }
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {
  margin-bottom: 7rem;

  @media (--only-medium-screen) {
    margin-bottom: 3rem;
  }
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 66.5rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 0 auto;
  padding: var(--spacerRegular);
}

.container--fixed {
  width: 64rem;
  margin: 0 auto;
}

.container--fluid {
  max-width: 64rem;
  margin: 0 auto;

}

footer {
  margin-top: var(--spacerBig);
}
