.container {
  width: 64rem;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  margin-top: var(--spacerBig);
}

/*

.layout {
  @media (--only-medium-screen) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content auto;
    height: 100vh;
  }
}

.header {
  @media (--only-medium-screen) {
    grid-column: 1;
  }
}

.prices {
  @media (--only-medium-screen) {
    grid-column: 1;
  }
}

.content {
  @media (--only-medium-screen) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

*/
