body {
  font-size: var(--fontRegular);
  font-family: var(--fontBody);
  line-height: 1.5;
  letter-spacing: .5px;
}

h1 {
  font-family: var(--fontTitle);
}

h2 {
  font-size: var(--fontBig);
  font-family: var(--fontTitle);
  margin-bottom: var(--spacerRegular);
}
