:root {
  --colorRed: #ee090c;
  --colorYellow: #ffe408;
  --colorGrey: #f8f8f4;
  --colorGreyDark: #c2c2c2;
  --colorGreen: rgb(69, 173, 113);
  --colorGreyBorder: rgb(197, 197, 197);
  --spacerRegular: 1.25rem;
  --spacerBig: 1.9rem;
  --fontLabel: .75rem;
  --fontExtraSmall: .75rem;
  --fontSmall: .9rem;
  --fontRegular: 1rem;
  --fontMedium: 1.3rem;
  --fontBig: 1.5rem;
  --fontBody: 'News Gothic', sans-serif;
  --fontTitle: 'Swiss Condensed', sans-serif;

  /* longread */
  --container: calc((100vw - 64rem) / 2);
  --colorLongread: #b42d2d;
  --fontTitleLongread: essonnes-headline, serif;
  --fontSubtitleLongread: montserrat, sans-serif;
  --fontBodyLongread: yrsa, serif;
  --fontTitle: 'Swiss Condensed', sans-serif;
  --fontRegularLongread: 1.15rem;

  @media (--only-extrasmall-screen) {
    --fontRegularLongread: 1rem;
  }
}

@custom-media --only-medium-screen (width < 1120px);
@custom-media --only-small-screen (width < 960px);
@custom-media --only-extrasmall-screen (width < 700px);
@custom-media --only-mobile-screen (width < 350px);
