:root{
  --colorRed: #ee090c;
  --colorYellow: #ffe408;
  --colorGrey: #f8f8f4;
  --colorGreyDark: #c2c2c2;
  --spacerRegular: 1.25rem;
  --spacerBig: 1.9rem;
  --fontLabel: .75rem;
  --fontSmall: .9rem;
  --fontRegular: 1rem;
  --fontMedium: 1.3rem;
  --fontBig: 1.5rem;
  --fontBody: 'News Gothic', sans-serif;
  --fontTitle: 'Swiss Condensed', sans-serif;
}
